@import "styles/default.scss";
@import "styles/views.scss";

@mixin wc-dashboard-panel {

    div.dashboard-panel-container {

        @include panel();
        min-height: 350px;
        margin-bottom: 20px;

        div.stat {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            border-bottom: 1px solid $default-border-color;
            padding: 10px 0;

            &.alert {
                color: $danger-color;
            }

            div.label {
                display: flex;
                margin: auto auto auto 0;

                wc-icon {
                    margin: auto 10px auto 0;
                }

                p {
                    margin: auto auto auto 0;

                    span {
                        color: $default-font-color-light;
                        font-size: 0.8em;
                    }
                }
            }

            div.val {

                margin: auto 0 auto auto;

                p {
                    margin: auto;

                    span {
                        color: $default-font-color-light;
                        font-size: 0.8em;
                    }
                }
            }
        }

        wc-button {
            width: 40%;
            font-size: 0.8em;
            margin: 0 0 0 auto;
        }
    }
}

wc-dashboard-panel {
    @include wc-dashboard-panel();
}

:host {
    @include wc-dashboard-panel();
}